# This is Git's per-user configuration file.
[user]
	name = Garren Miller
	email = garrenkmiller@gmail.com
# Please adapt and uncomment the following lines:
#	name = Garren Miller
#	email = garrenmiller@Garrens-MacBook-Pro.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
